/* This website includes lots of Open Source code, and as such is released under CC BY SA. http://www.theallium.com/engineering/computer-programming-to-be-officially-renamed-googling-stackoverflow/ */
a {text-decoration: none;}
@import 'https://fonts.googleapis.com/css?family=Orbitron';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
.video{
	position: absolute;
	z-index: -100;
	transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}
	
body{
	color: #ffffff;
	background-color: black;
	font-family: 'Orbitron', 'Courier Bold', monospace;
	text-align: center;
	padding: 1%;
}
p {
	font-family: 'Inconsolata', monospace;
	text-align: justify;
	-moz-text-align-last: center;
	padding-right: 20%;
	padding-left: 20%;
	font-weight: bold;
    position: relative;
	display: inline-block;
	margin: 15px 25px;
    margin-top: -175px;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
    
}
h2 {
  text-align: justify;
  color: #083952;
font-size: 15px;
margin-top: -30px;
}
#redpink {
    color: #871a1a;
}
#green {
    color: #1b5233;
}
.tab { margin-left: 20px; }
.tab2 { margin-left: 40px; }
/* navbar animation */
/* make keyframes that tell the start state and the end state of our object */
	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	.nav {
		float: top;
		opacity:0;
		-webkit-animation:fadeIn ease-in 1;  /* calls our keyframe fadeIn, use animation ease-in and repeat it once */
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;
		
		-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
		-moz-animation-fill-mode:forwards;
		
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		animation-duration: 1s;
		-moz-animation-delay: 0.7s;
		-webkit-animation-delay: 0.7s;
		animation-delay: 0.7s;
	}
	div.container a {
		color: #FFF;
		font-size: 35px;
		padding: 10px 10px;
		position: relative;
		cursor: pointer;
	}
	div.brackets a:before, div.brackets a:after {
		position: relative;
		opacity: 0;
		font-size: 35px;
		top: 0px;
		transition: all 0.3s;
	}
	div.brackets a:before {
		font-weight: bold;
		content: '{';
		left: 0px;
		transform: translateX(10px);
	}
	div.brackets a:after {
		font-weight: bold;
		content: '}';
		right: 0px;
		transform: translateX(-10px);
	}
	div.brackets a:hover:before, div.brackets a:hover:after {
		opacity: 1;
		transform: translateX(0px);
	}
/* End navbar animation */

/* Link CSS FIX THIS   <--------------------------------------------------------------------------- FIX */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
    margin-top: -10px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 8: border slight translate */
.cl-effect-8 a {
	padding: 10px 20px;
}
.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #C2C3AC;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.cl-effect-8 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}
.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}
.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}


/* Glitching text, stolen and modified from https://codepen.io/lbebber/pen/ypgql/ */
/* I'm sorry for the abomination below. It is fully compiled CSS. I could not get uncompiled to work (I don't have compass) so I went with this horror you see before you. I tried to clean it up a bit. The site uses no JS for privacy reasons*/

.glitch {
	font-size: 100px;
	margin: 0 auto;
}

@keyframes noise-anim {
	0% {clip: rect(56px, 9999px, 91px, 0);}
	5% {clip: rect(84px, 9999px, 93px, 0);}
	10% {clip: rect(59px, 9999px, 73px, 0);}
	15% {clip: rect(23px, 9999px, 11px, 0);}
	20% {clip: rect(1px, 9999px, 19px, 0);}
	25% {clip: rect(14px, 9999px, 96px, 0);}
	30% {clip: rect(17px, 9999px, 54px, 0);}
	35% {clip: rect(60px, 9999px, 12px, 0);}
	40% {clip: rect(74px, 9999px, 21px, 0);}
	45% {clip: rect(6px, 9999px, 26px, 0);}
	50% {clip: rect(62px, 9999px, 43px, 0);}
	55% {clip: rect(88px, 9999px, 2px, 0);}
	60% {clip: rect(9px, 9999px, 28px, 0);}
	65% {clip: rect(97px, 9999px, 15px, 0);}
	70% {clip: rect(86px, 9999px, 37px, 0);}
	75% {clip: rect(7px, 9999px, 37px, 0);}
	80% {clip: rect(59px, 9999px, 65px, 0);}
	85% {clip: rect(92px, 9999px, 28px, 0);}
	90% {clip: rect(80px, 9999px, 7px, 0);}
	95% {clip: rect(77px, 9999px, 98px, 0);}
	100% {clip: rect(100px, 9999px, 91px, 0);}
}

.glitch:after {
	content: attr(data-text);
	position: absolute;
	left: 5px;
	text-shadow: -2px 0 red;
	color: white;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse;
	padding-left: 45%;
}

@keyframes noise-anim-2 {
	0% {clip: rect(35px, 9999px, 67px, 0);}
	5% {clip: rect(19px, 9999px, 60px, 0);}
	10% {clip: rect(55px, 9999px, 16px, 0);}
	15% {clip: rect(28px, 9999px, 55px, 0);}
	20% {clip: rect(99px, 9999px, 54px, 0);}
	25% {clip: rect(62px, 9999px, 12px, 0);}
	30% {clip: rect(46px, 9999px, 73px, 0);}
	35% {clip: rect(65px, 9999px, 37px, 0);}
	40% {clip: rect(11px, 9999px, 44px, 0);}
	45% {clip: rect(13px, 9999px, 67px, 0);}
	50% {clip: rect(16px, 9999px, 12px, 0);}
	55% {clip: rect(82px, 9999px, 98px, 0);}
	60% {clip: rect(59px, 9999px, 73px, 0);}
	65% {clip: rect(76px, 9999px, 9px, 0);}
	70% {clip: rect(17px, 9999px, 27px, 0);}
	75% {clip: rect(66px, 9999px, 15px, 0);}
	80% {clip: rect(31px, 9999px, 98px, 0);}
	85% {clip: rect(18px, 9999px, 93px, 0);}
	90% {clip: rect(16px, 9999px, 10px, 0);}
	95% {clip: rect(74px, 9999px, 57px, 0);}
	100% {clip: rect(51px, 9999px, 68px, 0);}
}

.glitch:before {
	content: attr(data-text);
	position: absolute;
	text-shadow: 2px 0 blue;
	color: white;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}

